

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="titleMYACC">
        Add Model
    </h1>

</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->

    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <form name="myForm" ng-submit="vm.addmodel(vm.model,picFile)">
                        <h4 class="Titlemyaccount">Type:
                        </h4>
                        <select ng-model="vm.model.type" required>
                            <option class="BoxInput" value="device">Device
                            </option>
                            <option class="BoxInput" value="sensor">Sensor
                            </option>
                            <option class="BoxInput" value="actuator">Actuator
                        </select>

                        <h4 class="Titlemyaccount">Name (ID):
                        </h4>
                        <input class="BoxInput" type="text" ng-model="vm.model.id">

                        <h4 class="Titlemyaccount">Upload of the Icon:
                        </h4>
                        <label class="custom-file-upload">
                            <input  type="file" ngf-select ng-model="picFile" name="file"
                            accept="image/*" ngf-max-size="2MB" required
                            ngf-model-invalid="errorFile"   ngf-resize="{width: 100, height: auto, quality: .7, type: 'image/jpeg',
              pattern='.jpg', restoreExif: false}" >
                            Click here
                        </label>
                        <i ng-show="myForm.file.$error.required"></br>*Needed</i><br>
                        <i ng-show="myForm.file.$error.maxSize">The files is too big!
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                            <img ng-show="myForm.file.$valid" > </br> <p ng-click="picFile = null" ng-show="picFile"> Imagem added with success! </p> <button class="RmvButtonaddmodel" ng-click="picFile = null" ng-show="picFile">Remover</button>

                            <span class="progress" ng-show="picFile.progress >= 0">
                                <div style="width:{{picFile.progress}}%"
                                ng-bind="picFile.progress + '%'"></div>
                            </span>
                            <span ng-show="picFile.result">Image added with success!</span>
                            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>


                            <h4 class="Titlemyaccount">Number of pins
                            </h4>
                            <input class="BoxInput" type="number" value="" min="1" ng-model="vm.model.NumberOfPins" required>
                        </h4>


            <button class="DataEdit" type="submit" >Adicionar Model
            </button>
        </br>
        </div>
    </form>
</div>
</div>
</div>
</section><!-- /.content -->
