<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="titleMYACC">
        Add Additional Properties on Devices/Components
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box-content">
        <div class="panel panel-default">
            <!-- 
            <h4 class="Titlemyaccount">Choose a type</h4>
            <select class="BoxInput" ng-model="selectedType"required> 
                <option ng-repeat="type in types"> <
                        {{type}} 
                </option>
            </select>
            -->
            <h4 class="Titlemyaccount">Choose a device/component</h4>
            <select class="BoxInput" ng-model="selectedModel" required> <!--Editions will be made on contexts in the key with the idcontext chosen by the user -->
                <option ng-repeat="model in models" value={{model.$id}} > <!-- contexts is a list  provided by the controller-->
                        {{model.id}} <!--$id provides the information about the context's key -->
                </option>
            </select>

            <div ng-show="selectedModel">
                </br><h6 class="titleMYACC"> Add more information on the selected Device/Component </h6>
                
                <h6 class="Titlemyaccount"> Number of Properties to be added </h6>
                <input class="BoxInput" type="number" min="0" ng-model="numberOfProperties">
                </br></br>
                <!-- ng-model can't be bound to a function, that's why ng-value is needed in this case -->
                <span ng-value="showForms=1"></span></br>

                <div ng-if="showForms===1">
                    <div ng-repeat="n in range(1,numberOfProperties)"> <!-- Iteration on a list returned by the functinon range -->
                        <h4 class="Titlemyaccount">Fill out the new property and its value bellow</h4>
                        <input class="BoxInput" placeholder="Property's Id" type="text" ng-model="new_property_key">
                        <input class="BoxInput" placeholder="Property's Value" type="text" ng-model="new_property_value">
                        <!-- Updating the database with the new property:value -->
                        <button class="AddElementBtn" type="submit" ng-click="addspecificproperty(selectedModel, new_property_key, new_property_value)">
                            <div>
                                Add Specific Information
                            </div>
                        </button></br>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section><!-- /.content -->
