<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="titleMYACC">
        Add Device/Component
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <form name="myForm" ng-submit="vm.addbelonging(vm.model,picFile)">
                        <h4 class="Titlemyaccount">Type </h4>
                        <select class="BoxInput" ng-model="vm.model.type" required>
                            <option value="Device">
                                Hardware Device
                            </option>
                            <option value="SensingDevice">
                                Sensor Component
                            </option>
                            <option value="ActuatingDevice">
                                Actuator Component
                            </option>
                        </select>
                        <h4 class="Titlemyaccount">Id </h4>
                        <input class="BoxInput" placeholder="Id" type="text" ng-model="vm.model.id">

                        <h4 class="Titlemyaccount">Owl Restriction (Put a [.] for the default option) </h4>
                        <input class="BoxInput"  placeholder="Owl Restriction" type="text" ng-model="vm.model.owlRestriction">

                        <h4 class="Titlemyaccount">RDFS Comment </h4>
                        <input class="BoxInput" placeholder="RDFS Comment" type="text" ng-model="vm.model.rdfsComment">

                        <h4 class="Titlemyaccount">Company </h4>
                        <input class="BoxInput" placeholder="Company" type="text" ng-model="vm.model.prefixCompany">

                        <h4 class="Titlemyaccount">Ontology </h4> <!--e.g.: iot-lite, ssn, etc -->
                        <input class="BoxInput" placeholder="Ontology" type="text" ng-model="vm.model.ontology">

                        <h4 class="Titlemyaccount">Upload an Icon
                        </h4>
                        <label class="custom-file-upload">
                            <input  type="file" ngf-select ng-model="picFile" name="file"
                            accept="image/*" ngf-max-size="2MB" required
                            ngf-model-invalid="errorFile"   ngf-resize="{width: 100, height: auto, quality: .7, type: 'image/jpeg',
                            pattern='.jpg', restoreExif: false}" >
                            Click here
                        </label>
                        <i ng-show="myForm.file.$error.required"></br>*Needed</i><br>
                        <i ng-show="myForm.file.$error.maxSize">
                            The files is too big!
                            {{errorFile.size / 1000000|number:1}}Mb and maximum allowed is 2 Mb
                        </i>
                        <img ng-show="myForm.file.$valid" > </br>
                        <p ng-click="picFile = null" ng-show="picFile">
                            Imagem added with success!
                        </p>
                        <button class="RmvButtonaddbelonging" ng-click="picFile = null" ng-show="picFile">
                            Remove image of the {{vm.model.type}}
                        </button>
                        <span class="progress" ng-show="picFile.progress >= 0">
                            <div style="width:{{picFile.progress}}%"
                            ng-bind="picFile.progress + '%'"></div>
                        </span>
                        <span ng-show="picFile.result">
                            The icon has been added with success!
                        </span>
                        <span class="err" ng-show="errorMsg">
                            {{errorMsg}}
                        </span>
                        <h4 class="Titlemyaccount">
                            Number of Pins
                        </h4>
                        <input class="BoxInput" type="number" value="" min="0" ng-model="vm.model.numberOfPins" required>
                    </h4>
                </br></br>

                <button class="DataEdit" type="submit">
                    <div ng-if="vm.model.type != 'Device' && vm.model.type != 'SensingDevice' && vm.model.type != 'ActuatingDevice'">
                        Add
                    </div>
                    <div ng-if="vm.model.type == 'Device'">
                        Add Device
                    </div>
                    <div ng-if="vm.model.type == 'SensingDevice'">
                        Add Sensor
                    </div>
                    <div ng-if="vm.model.type == 'ActuatingDevice'">
                        Add Actuator
                    </div>
                </button>
            </br>
        </div>
    </form>
</div>
</div>
</div>
</section>
<!-- /.content -->
