<!-- Content Header (Page header) -->
<section class="content-header">
   <h1 class="titleMYACC">
      Add Device/Component
   </h1>
</section>
<!-- Main content -->
<section class="content">
   <!-- Info boxes -->
   <div>
      <div class="row">
         <div class="col-lg-12">
            <div class="panel panel-default">
               <form name="myForm" ng-submit="vm.addbelonging(vm.model,picFile)">
                  <h4 class="Titlemyaccount">Type </h4>
                  <select class="BoxInput" ng-model="vm.model.type" required>
                     <option value="device">Hardware Device
                     </option>
                     <option class="BoxInput" value="sensor">Sensor Component
                     </option>
                     <option class="BoxInput" value="actuator">Actuator Component
                  </select>
                  <h4 class="Titlemyaccount">Id </h4>
                  <input class="BoxInput" placeholder="Id" type="text" ng-model="vm.model.id">

                  <h4 class="Titlemyaccount">Owl Restriction (Let the box empty for the default option) </h4>
                  <input class="BoxInput"  placeholder="Owl Restriction" type="text" ng-model="vm.model.owlRestriction">

                  <h4 class="Titlemyaccount">RDFS Comment </h4>
                  <input class="BoxInput" placeholder="RDFS Comment" type="text" ng-model="vm.model.rdfsComment">

                  <h4 class="Titlemyaccount">Company </h4>
                  <input class="BoxInput" placeholder="Company" type="text" ng-model="vm.model.prefixCompany">

                  <h4 class="Titlemyaccount">Upload an Icon
                  </h4>
                  <label class="custom-file-upload">
                  <input  type="file" ngf-select ng-model="picFile" name="file"
                     accept="image/*" ngf-max-size="2MB" required
                     ngf-model-invalid="errorFile"   ngf-resize="{width: 100, height: auto, quality: .7, type: 'image/jpeg',
                     pattern='.jpg', restoreExif: false}" >
                  Click here
                  </label>
                  <i ng-show="myForm.file.$error.required"></br>*Needed</i><br>
                  <i ng-show="myForm.file.$error.maxSize">The files is too big!
                  {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                  <img ng-show="myForm.file.$valid" > </br>
                  <p ng-click="picFile = null" ng-show="picFile"> Imagem added with success! </p>
                  <button class="RmvButtonaddbelonging" ng-click="picFile = null" ng-show="picFile">Remove image of the {{vm.model.type}}</button>
                  <span class="progress" ng-show="picFile.progress >= 0">
                     <div style="width:{{picFile.progress}}%"
                        ng-bind="picFile.progress + '%'"></div>
                  </span>
                  <span ng-show="picFile.result">The icon has been added with success!</span>
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                  <h4 class="Titlemyaccount">Number of Pins
                  </h4>
                  <input class="BoxInput" type="number" value="" min="0" ng-model="vm.model.NumberOfPins" required>
                  </h4>
                  </br></br>
                  <button  class="AddProperty" type="submit" >Add new property
                  </button>
                  <button class="DataEdit" type="submit" >Add {{vm.model.type}}
                  </button>
                  </br>
            </div>
            </form>
         </div>
      </div>
   </div>
</section>
<!-- /.content -->
