<!-- Content Header (Page header) -->
<section class="content-header">
   <h1 class="titleMYACC">
      Add Default @Graph
   </h1>
</section>

<!-- Main content -->
<section class="content">
   <!-- Info boxes -->
   <div>
      <div class="row">
         <div class="col-lg-12">
            <div class="panel panel-default">
               <form name="myForm" ng-submit="vm.adddefaultgraph(vm.graph)">
                <!-- This add is used in order the user be able to choose a default graph to update it with specific information -->
                <h4 class="Titlemyaccount">Id (@Graph) </h4>
                <input class="BoxInput" placeholder='Id' type="text" ng-model="vm.graph.idgraph">
                  <h4 class="Titlemyaccount">Default Objects</h4>
                  <textarea  class="BoxInputDefaultObjects" placeholder="Default Objects" type="text" ng-model="vm.graph.defaultobjectsgraph">
                  </textarea></br>
                  </br>
                  <button class="AddElementBtn" type="submit">
                     <div>
                        Add Default @Graph
                     </div>
                  </button></br>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /.content -->
