<script>resetInfoSavedModels();</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="titleMYACC">
        Minha conta
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <br class="box-content">
        <div class="panel panel-default">
            <h3 class="Titlemyaccount">Usuário</h3>
            <span class="InfoAccount">&emsp;{{user.Username}} </span>
            <h3 class="Titlemyaccount">E-mail</h3>
            <span class="InfoAccount">&emsp;{{user.Email}}</br></br> </span>
        </div>
        <div>
            <button class="DataEdit" data-toggle="modal" ng-click="showAccountinfo(user)" data-target="#editModal">
                Edit
            </button>
        </div>
        <!--
        <div class="panel panel-default">
            <center>
                <h3 class="Titlemyaccount">User as Admin</h3>
                <label class="switch">
                    <input type="checkbox" ng-model="user.isAdmin" ng-value="user.isAdmin" ng-change="updateAdminInfoDB(user.$id, user.isAdmin)">
                    <span class="slider round"></span>
                </label>
            </center>
        </div>
        -->
</section>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span>
                </button>
                <h4>Editar suas informações</h4>
            </div>
            <div class="modal-body">
                <form id="form_id" role="form" ng-submit="editFormSubmit(user.$id, Username)" ng-show="show">
                    <div class="form-group">
                        <label for="name" class="EditInfoField control-label">Username</label>
                        <input type="text" class="form-control" id="name" ng-model="Username">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="editDataPopUpCancel" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="editDataPopUpUpdate">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</section><!-- /.content -->
