<script>routeSyncInit();routeSync();resetInfoSavedModels();</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="titleMYACC">
        My Account
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <br class="box-content">
        <div class="panel panel-default">
            <h3 class="Titlemyaccount">Username</h3>
            <span class="InfoAccount">&emsp;{{user.Username}} </span>

            <h3 class="Titlemyaccount">E-mail</h3>
            <span class="InfoAccount">&emsp;{{user.Email}}</br></br> </span>
        </div>
        <div>
            <button class="DataEdit" data-toggle="modal" ng-click="showAccountinfo(user)" data-target="#editModal">
                Edit
            </button>
            </br>
        </div></br></br>
        <div class="panel panel-default">
            <center>
                <h3 class="Titlemyaccount">User as Admin</h3>
                <label class="switch">
                    <input type="checkbox" ng-model="user.isAdmin" ng-value="user.isAdmin" ng-change="updateAdminInfoDB(user.$id, user.isAdmin)">
                    <span class="slider round"></span>
                </label>
            </center>
        </div>
</section>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="DataEdit">Edit User's Information</h4>
            </div>
            <div class="modal-body">
                <form id="form_id" role="form" ng-submit="editFormSubmit(user)" ng-show="show">
                    <div class="form-group">
                        <label for="name" class="EditInfoField control-label">Username</label>
                        <input type="text" class="form-control" id="name" ng-model="Username">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-info">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Flags warning the users if they can proceed to the digital environment -->
<section class="content">
    <div class="box-content">
        <div ng-init="verifySettingDefaultContext(); verifySettingDefaultGraph()" class="panel panel-default">
            <h3 class="Titlemyaccount">IoT Lite Warnings</h3>
            <!-- Conditions for default @context and @graph
                    HAS DEFAULT:
	                    button to see the default one
	                    button go to change the default one
                    HASN'T DEFAULT:
	                    button to set a default one
            -->
            <!-- Button clicked -> Load the data from the database and update the view -->
            <button class="fa fa-refresh Refresh" ng-click="verifySettingDefaultContext(); verifySettingDefaultGraph()"> &emsp;Refresh </button>
            <div class="WarningsDiv" ng-if="defaultContextIsSet===true">
                <span class="InfoAccount">&emsp;The user has defined a default @Context </span> <button type="button" data-toggle="modal" ng-click="modal()" data-target="#popUp" class="Warnings"> See the default one </button>  <a href="/dashboard.html#/app/mycontext"><button class="Warnings"> Change the default one </button></a></br>
            </div></br>
            <div class="WarningsDiv" ng-if="defaultContextIsSet===false">
                <span class="InfoAccount">&emsp;The user hasn't defined a default @Context </span> <a href="/dashboard.html#/app/mycontext"><button class="Warnings"> Set a default one </button></a> </br>
            </div>

            <div class="WarningsDiv" ng-if="defaultGraphIsSet===true">
                <span class="InfoAccount">&emsp;The user has defined a default @Graph </span> <button type="button" data-toggle="modal" ng-click="modal()" data-target="#popUpG" class="Warnings"> See the default one </button>  <a href="/dashboard.html#/app/mygraph"><button class="Warnings"> Change the default one </button></a></br>
            </div></br>
            <div class="WarningsDiv" ng-if="defaultGraphIsSet===false">
                <span class="InfoAccount">&emsp;The user hasn't defined a default @Graph </span> <a href="/dashboard.html#/app/mygraph"><button class="Warnings"> Set a default one </button></a> </br>
            </div></br>

            <!-- Displaying the information about the selected @context -->
            <div id="popUp" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="BtnClosemybelongings close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Information</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <span class="MyInfo"> Current Default Context: </span> <span class="MyInfoP"> {{currentDefaultContext}} </span> </br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="BtnClosemybelongings" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- Displaying the information about the selected @context -->
            <div id="popUpG" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="BtnClosemybelongings close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Information</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <span class="MyInfo"> Current Default Graph: </span> <span class="MyInfoP"> {{currentDefaultGraph}} </span> </br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="BtnClosemybelongings" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</section><!-- /.content -->
