<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="titleMYACC">
        Modeled @Graph(s)
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box-content">
        <div class="panel panel-default">
            <h4 class="Titlemyaccount">Select a @Graph</h4>
            <select class="BoxInput" ng-click="getAdditionalProperties(selectedGraph)" ng-model="selectedGraph" required> <!--Editions will be made on contexts in the key with the idcontext chosen by the user -->
                <option ng-repeat="graph in graphs" value={{graph.$id}} > <!-- graphs is a list  provided by the controller-->
                        {{graph.idgraph}} <!--$id provides the information about the graph's key -->
                </option>
            </select>
            <!-- <h4> Selected graph: {{selectedGraph}} </h4> -->

            <button type="button" data-toggle="modal" ng-click="modal(selectedGraph)" data-target="#popUp" class="fa fa-info-circle BtnmyContexts">
                See more information about the selected @Graph
            </button>
            <button ng-click="setgraphdefault(selectedGraph)" type="button" class="fa fa-check-circle BtnmyContexts">
                Set the selected @Graph as the default one
            </button></br>
            
            <!-- Displaying the information about the selected @graph -->
            <div id="popUp" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="BtnClosemybelongings close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Details</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <span class="MyInfo"> Default Graph: </span><br>
                                <!--allDefaultElementsGraph is a list with all the default elements of the set @graph -->
                                <div ng-repeat="defElement in graphDefaultElements">
                                    <span align="right" > {{defElement}} </span> <hr> <!-- It has to be a string value, otherwise it isn't printed -->
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="BtnClosemybelongings" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->
