<!-- Content Header (Page header) -->
<section class="content-header">
   <h1 class="titleMYACC">
      Digital Environment
   </h1>
</section>
<!-- Main content -->
<script>console.log("NO ERROR (1)")</script>
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->
    <!-- <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script> -->
  </head>

  <body>
    <p>This is::: {{user.Username}}</p>
    <div id="root"></div>

    <script> console.log("testsdadsad"); </script>

    </script>

    <script>console.log("NO ERROR (2)")</script>

    <script src="app/modules/dashboard/digital_environment/src/main/resources/static/client.min.js"></script>
  </body>
